services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64

    # Publish ports for services
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8080:8080"
      - "35697:35697"

    volumes:
      - ..:/workspace:cached

    command: sleep infinity

    environment:
      PYTHONPATH: /workspace
      WORKSPACE_ROOT: /workspace
      GRAZIE_API_TOKEN: ${GRAZIE_API_TOKEN:-}
      GRAZIE_ENVIRONMENT: ${GRAZIE_ENVIRONMENT:-PREPROD}
